.details {
    padding: 1rem;
    width: 30rem;
    background-color: #6233b9;
    
    padding: 1rem;
    width: 20rem;
  }
  
  .author {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    margin: 0;
    text-transform: uppercase;
  }
  
  .text {
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: white;
    font-style: italic;
  }
  
  .details a {
    text-decoration: none;
  }
  
.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.actions{
  background-color: transparent;
  text-decoration: none;
  color: #e5d5f7;
}

.actions:hover {
  color: #d1bee6;
}